{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.number }}{% endblock %}

{% block body %}
    <div class="page zoom">
        <div class="media">
            <div class="media-body">
                <h1 class="mt-0"> <a class="zoomLink" href="{{ path('program_season_show', {'slug': program.slug, 'number': season.number}) }}">Episode {{ episode.number }} </a>  / Saison {{ season.number }}  de {{ program.title }}</h1>
                <p>{{ episode.title }}</p>
                <p>{{ episode.synopsis }}</p>

                {% if app.user %}
                    <h3>Ajouter un commentaire</h3>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit">Ajouter un commentaire</button>
                    {{ form_end(form) }}
                {% else %}
                    <p>Vous devez être connecté pour ajouter un commentaire.</p>
                {% endif %}

                {% if episode.comments|length > 0 %}
                    <h3>Commentaires :</h3>
                    <ul class="list-group list-group-flush">
                        {% for comment in episode.comments|reverse %}
                            <li>
                                {{ comment.author.email }} a dit : {{ comment.comment }}
                                {% if app.user and (app.user == comment.author or is_granted('ROLE_ADMIN')) %}
                                    <form method="post" action="{{ path('program_comment_delete', {'id': comment.id}) }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete_comment') }}" />
                                        <button type="submit" class="btn btn-danger btn-sm">Supprimer le commentaire</button>
                                    </form>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Aucun commentaire pour le moment.</p>
                {% endif %}


            </div>

            <a href="{{ path('program_season_show', {'slug': program.slug, 'number': season.number}) }}">
                Retour à la page de la série
            </a>
        </div>
    </div>
{% endblock %}