{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block bodyClass %}class="other-pages"{% endblock %}

{% block body %}
    <div class="page zoom">

        <h1>Toutes les séries : </h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>Search</button>
        {{ form_end(form) }}
        {% for program in programs %}
            <div class="size box zoom">
                <h2><a class="zoomLink" href="{{ path("program_show", { slug: program.slug }) }}">{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</a></h2>
                <div class="sideBySide">
                    <img class="align-self-start mr-3 " src="{{ vich_uploader_asset(program, 'posterFile')}}" alt="{{ program.title }} poster">
                    <p class="m-3 ">synopsis : {{ program.synopsis }}</p>
                </div>
                <div class="sideBySide">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('program_edit', { slug: program.slug }) }}" class="btn m-2 mt-2 btn-primary">Modifier</a>

                        <form method="post" action="{{ path('program_delete', {'slug': program.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
                            <button class="btn m-2 mt-2 btn-primary">Supprimer</button>
                        </form>
                    {%endif%}
                </div>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}

        <a class="zoomLink fs-5" href="{{ path('program_new') }}"> +add </a>
        {#        <a class="zoomLink fs-5" href="{{ path('edit', { id: program.id }) }}" >Modifier</a>#}
        {#        <a class="zoomLink fs-5" href="{{ path('delete', { id: program.id }) }}">Supprimer</a>#}


        <div class="margeLi">
            <a href="{{ path('app_index') }}">
                Retour à l'accueil
            </a>
        </div>
    </div>
{% endblock %}